<mat-toolbar class="menu__toolbar">
  <h1 class="menu__header">Porównywarka</h1>
<!--  <button mat-button [matMenuTriggerFor]="priceComparisonMenu">Porównanie</button>-->
<!--  <mat-menu #priceComparisonMenu="matMenu">-->
<!--    <div class="menu__expanded-menu">-->
<!--      <button mat-button color="tertiary" routerLink="/price-comparison" type="button">-->
<!--        Porównaj cenniki-->
<!--      </button>-->
<!--    </div>-->
<!--  </mat-menu>-->
<!--  <button mat-button [matMenuTriggerFor]="orderMenu">Zamówienia</button>-->
<!--  <mat-menu #orderMenu="matMenu">-->
<!--    <div class="menu__expanded-menu">-->
<!--      <button mat-button color="tertiary" routerLink="/" type="button">-->
<!--        Wygeneruj zamówienie-->
<!--      </button>-->
<!--      <button mat-button color="tertiary" routerLink="/order-history" type="button">-->
<!--        Historia zamówień-->
<!--      </button>-->
<!--    </div>-->
<!--  </mat-menu>-->
<!--  <button mat-button [matMenuTriggerFor]="suppliersMenu">Dostawcy</button>-->
<!--  <mat-menu #suppliersMenu="matMenu">-->
<!--    <div class="menu__expanded-menu">-->
<!--      <button mat-button color="tertiary" routerLink="/suppliers-list" type="button">Lista dostawców</button>-->
<!--    </div>-->
<!--  </mat-menu>-->
</mat-toolbar>
